<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Predict review sentiment</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
  <h1>Sentiment Prediction</h1>
  
    <h4>Please write a fake review on a hotel below and it will try to predict if it's a positive
      or a negative review
    </h4>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="review" placeholder="review" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Sentiment from hotel_reviews</button>
    </form>

   <br>
   <br>

   

   <p>{{ prediction_text }}</p>

   <p>{{ sentiment }}</p>

   <p> {{ text }} </p>

 </div>


</body>
</html>
